.history {
    -fx-padding:10px;
    -fx-spacing:20px;
    -fx-background-color: #eeeeee;
}

.history__item {
    -fx-font-size:20px;
    -fx-font-fill:#222222;
    -fx-padding:10px;
    -fx-spacing:5px;
    -fx-background-color: #ffffff;
    -fx-background-radius:5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0, 0, 3);
}

.history__item .rewind {
    -fx-background-image: url("rewind.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-cursor: hand;
}

.pieces {
    -fx-padding:8.5px;
}

.pieces Circle {
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0, 0, 3);
}

.pieces .option {
    visibility: hidden;
    -fx-stroke: rgba(255, 255, 255, 0.5);
}

.pieces .option--visible {
    visibility: visible;
    -fx-cursor: hand;
}

.pieces .origin Circle {
    -fx-stroke: rgba(255, 255, 255, 0.9);
    -fx-cursor: hand;
}

.pieces .king {
    -fx-background-image: url("king.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}